<svg
  [attr.width]="stateMapOptions.width"
  [attr.height]="stateMapOptions.height"
>

  <defs>
    <filter xmlns="http://www.w3.org/2000/svg" id="dropshadow" height="200%">
      <feGaussianBlur in="SourceAlpha" stdDeviation="3"/> 
      <feOffset dx="0" dy="0" result="offsetblur"/>
      <feComponentTransfer>
        <feFuncA type="linear" slope="0.5"/>
      </feComponentTransfer>
      <feMerge> 
        <feMergeNode/>
        <feMergeNode in="SourceGraphic"/> 
      </feMerge>
    </filter>
  </defs>

  <g *ngIf="hasDistrictData; else stateOnly" 
    class="state"
    filter="url(#dropshadow)"
  >
    <g class="districts">
      <svg:path
        *ngFor="let district of districtFeatures"
        class="district-path"
        [ngClass]="{ 'selected': isSelected(district) }"
        [attr.d]="district.pathData"
        [matTooltip]="district.districtId | district"
        (click)="selectDistrict(district)"
      ></svg:path>
    </g>
    <svg:path class="district-borders" [attr.d]="districtBorders"></svg:path>
  </g>

  <ng-template #stateOnly>
    <svg:path
      class="state-path"
      filter="url(#dropshadow)"
      [attr.d]="state.pathData"
      [attr.transform]="stateTransform"
    ></svg:path>
  </ng-template>

</svg>
