svg(
  [attr.width]='stateMapOptions.width',
  [attr.height]='stateMapOptions.height',
)
  defs
    filter#dropshadow(xmlns='http://www.w3.org/2000/svg' height='150%')
      feGaussianBlur(in='SourceAlpha' stdDeviation='10')
      feOffset(dx='0' dy='0' result='offsetblur')
      feComponentTransfer
        feFuncA(type='linear' slope='0.5')
      feMerge
        feMergeNode
        feMergeNode(in='SourceGraphic')
  g.state(
    *ngIf='hasDistrictData; else stateOnly',
    filter='url(#dropshadow)',
    [attr.transform]='stateWithDistrictsTransform',
  )
    g.districts
      path.district-path(
        *ngFor='let district of districtFeatures',
        [ngClass]="{ 'selected': isSelected(district) }",
        [attr.d]='district.pathData',
        [matTooltip]='district.districtId | districtOrdinal',
        (click)='selectDistrict(district)',
        [attr.party]='party(district)',
      )
    path.district-borders([attr.d]='districtBorders')
  ng-template(#stateOnly)
    path.state-path(
      filter='url(#dropshadow)',
      [attr.d]='state.pathData',
      [attr.transform]='stateTransform',
    )
