@import "src/theme/theme-variables";


$district-color: white;

svg {
  background: rgba($color-black, 0.9);
}

.district-path {
  opacity: 1;
  cursor: pointer;
  outline: none;

  &:hover {
    opacity: 0.75;
  }

  &.selected {
    animation-duration: 1s;
  }
}

@each $party, $party-color in $political-party-colors {
  .district-path[party="#{$party}"] {
    fill: $party-color;

    &.selected {
      animation-name: flash-#{$party};
    }
  }


  @keyframes flash-#{$party} {
    from {
      fill: $party-color;
    }

    20% {
      fill: white;
    }

    to {
      fill: $party-color;
    }
  }
}

.district-borders {
  fill: none;
  stroke: darken($district-color, 25%);
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}
