a.svg-icon-button(routerLink='/')
  mat-icon(svgIcon='back-to-map')

section.authors
  h2 Authors
  ul
    li
      .role Design
      .author
        a(href='http://andrewsass.com') Andrew Sass
    li
      .role Development
      .author
        a(href='http://theodoria.software') Ted Lorts

section.data-sources
  h2 Data Sources
  ul
    li
      span Members and committees of Congress:
      | 
      a(href='https://theunitedstates.io/') the @unitedstates project
    li
      span Cartographic data of the 50 states &amp; DC:
      | 
      a(href='https://github.com/topojson/us-atlas') U.S. Atlas TopoJSON
    li
      span Cartographic data of congressional districts:
      | 
      a(href='https://www.census.gov/') The United States Census Bureau
      ul: li.
        And thanks to Mike Bostock for his helpful #[a(href='https://medium.com/@mbostock/command-line-cartography-part-1-897aa8f8ca2c') guide] on working with the cartographic data from the US Census Bureau.

section.technology
  h2 Technology
  p.
    Map My Reps is a single-page application written in #[a(href='https://angular.io/') Angular] (v5) using #[a(href='https://www.typescriptlang.org') TypeScript], #[a(href='http://sass-lang.com/') Sass], and #[a(href='https://pugjs.org') Pug] among many other tools. Thanks to #[a(href='http://ngx-rocket.com/') ngX-Rocket] for providing #[a(href='https://github.com/ngx-rocket/generator-ngx-rocket') this superb project generator], which came with many useful tools setup and ready to go.
