<div *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<svg [attr.width]="width" [attr.height]="height">
  <g class="states">
    <svg:path
      *ngFor="let state of stateFeatures"
      class="state-path"
      [ngClass]="{ 'selected': isSelected(state) }"
      [attr.d]="state.pathData"
      [matTooltip]="state.name"
      (click)="selectState(state)"
    ></svg:path>
  </g>
  <svg:path class="state-borders" [attr.d]="bordersData"></svg:path>
</svg>

<mat-card class="state-info-card">
  <mat-card-content>
    <h3>{{ selectedStateName || 'No State Selected' }}</h3>
    <div *ngIf="selectedState">
      <div>
        <h4>Senators</h4>
        <div *ngIf="!allSenators" class="inline-waiting-message">
          <mat-spinner [diameter]="20"></mat-spinner>
          <p>still awaiting the list of senators</p>
        </div>
        <ul>
          <li *ngFor="let senator of senatorsOfState">
            {{ senator.givenName }}
            {{ senator.surname }}
            ({{ senator.party }})
          </li>
        </ul>
      </div>
      <div>
        <h4>Representatives</h4>
        <div *ngIf="!allRepresentatives" class="inline-waiting-message">
          <mat-spinner [diameter]="20"></mat-spinner>
          <p>still awaiting the list of representatives</p>
        </div>
        <ul>
          <li *ngFor="let representative of representativesOfState">
            {{ representative.givenName }}
            {{ representative.surname }}
            ({{ representative.party }})
          </li>
        </ul>
      </div>
    </div>
  </mat-card-content>
</mat-card>