@import "src/theme/theme-variables";

$state-color: $color-black;

.states {
  .state-path {
    fill: $state-color;
    opacity: 0.5;
    cursor: pointer;
    outline: none;

    &.selected {
      opacity: 1;
    }

    &:hover {
      fill: hsl(hue($state-color), saturation($state-color), lightness($state-color) * 1.25);
    }
  }
}

.state-borders {
  fill: none;
  stroke: white;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.state-info-card {
  text-align: left;
}

.inline-waiting-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  opacity: 0.5;

  .mat-spinner {
    $space: 1em;

    &:first-child {
      margin-right: $space;
    }

    &:last-child {
      margin-left: $space;
    }
  }
}

.senator-leadership-position {
  font-style: italic;
}

.representative-list-item {
  &.vacant {
    font-style: italic;
    opacity: 0.7;
  }
}
