<button (click)="selectForLocation()">Use my location</button>

<svg [attr.width]="width" [attr.height]="height">
  <g class="states">
    <svg:path
      *ngFor="let state of stateFeatures"
      class="state-path"
      [ngClass]="{ 'selected': isSelected(state) }"
      [attr.d]="state.pathData"
      [matTooltip]="state.name"
      (click)="selectState(state)"
    ></svg:path>
  </g>
  <svg:path class="state-borders" [attr.d]="stateBordersPathData"></svg:path>
</svg>

<mat-card class="state-info-card">
  <mat-card-content class="state-info-content">
    <div class="state-reps-section">
      <h2>{{ selectedStateName || 'No State Selected' }}</h2>
      <div *ngIf="selectedState">
        <div class="state-map">
          <svg
            [attr.width]="stateMapOptions.width"
            [attr.height]="stateMapOptions.height">
            <defs>
              <filter xmlns="http://www.w3.org/2000/svg" id="dropshadow" height="200%">
                <feGaussianBlur in="SourceAlpha" stdDeviation="5"/> 
                <feOffset dx="0" dy="0" result="offsetblur"/>
                <feComponentTransfer>
                  <feFuncA type="linear" slope="0.5"/>
                </feComponentTransfer>
                <feMerge> 
                  <feMergeNode/>
                  <feMergeNode in="SourceGraphic"/> 
                </feMerge>
              </filter>
            </defs>
            <svg:path
              class="state-path"
              filter="url(#dropshadow)"
              [attr.d]="selectedState.pathData"
              [attr.transform]="stateTransform(selectedState)"
            ></svg:path>
          </svg>
        </div>
        <div *ngIf="isCongressLoading; else repList" class="inline-waiting-message">
          <mat-spinner [diameter]="20"></mat-spinner>
          <p>still downloading your reps</p>
        </div>
        <ng-template #repList>
          <div *ngFor="let repSet of repSets">
            <h4>{{ repSet.title }}</h4>
            <div class="rep-grid">
              <div
                *ngFor="let rep of repSet.reps"
                class="rep-grid-tile"
                [ngClass]="rep.partyStyleClass"
              >
                <div class="rep-image"
                  [ngStyle]="repImageStyle(rep)"
                  (click)="selectRep(rep)"
                  [matTooltip]="rep.fullName"
                ></div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="rep-info-section">
      <div *ngIf="selectedRep">
        <h3>{{ selectedRep.party }}</h3>
        <h3>{{ selectedRep.titleName }}</h3>
        <h4 *ngIf="selectedRep.district !== null">{{ selectedRep.district | district }}</h4>
        <div>
          <img src="{{ selectedRep.imageUrl }}" />
        </div>
        <div>
          <h4>Office</h4>
          <div>
            {{ selectedRep.office }}
          </div>
        </div>
        <div>
          <h4>Committee Assignments</h4>
          <ul class="rep-committee-list">
            <li *ngFor="let committee of selectedRep.committees">
              <span *ngIf="committee.url; else nameNoLink">
                <a href="{{ committee.url }}">{{ committee.name }}</a>
              </span>
              <ng-template #nameNoLink>{{ committee.name }}</ng-template>
              <ul class="rep-subcommittee-list">
                <li *ngFor="let subcommittee of selectedRep.subcommittees[committee.thomasId]">
                  {{ subcommittee.displayName }}
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div *ngIf="selectedRep.phone as phone">
          <div>{{ phone }}</div>
          <div>
            <a mat-button href="tel:{{ phone | numbersOnly }}">
              Call {{ selectedRep.titleName }}
            </a>
          </div>
        </div>
        <div class="rep-social-media" *ngIf="selectedRep.socialMedia">
          <span *ngFor="let medium of socialMedia">
            <a *ngIf="selectedRep[medium.urlGetter] as url" href="{{ url }}">
              {{ medium.icon }}
            </a>
          </span>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>