@import "src/theme/theme-variables";

$state-color: $color-black;

.states {
  .state-path {
    fill: $state-color;
    opacity: 0.5;
    cursor: pointer;
    outline: none;

    &.selected {
      opacity: 1;
    }

    &:hover {
      fill: lighten($state-color, 20%);
    }
  }
}

.state-borders {
  fill: none;
  stroke: white;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.state-info-content {
  display: flex;
  flex-direction: row;

  .state-reps-section {
    flex: 1;
  }

  .rep-info-section {
    flex: 1;
  }
}

.state-info-card {
  text-align: left;
}

.inline-waiting-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  opacity: 0.5;

  .mat-spinner {
    $space: 1em;

    &:first-child {
      margin-right: $space;
    }

    &:last-child {
      margin-left: $space;
    }
  }
}

$party-colors: (
  republican: red,
  democrat: blue,
  independent: green,
);

$size: 48px;
$ring-thickness: 2px;
$tile-size: $size + 2 * $ring-thickness;

.rep-grid {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(auto-fit, $tile-size);
}

.rep-grid-tile {
  margin: $ring-thickness;

  .rep-image {
    width: $size;
    height: $size;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 0 $ring-thickness grey;
    background-size: cover;
    background-color: lightgrey;
    cursor: pointer;
  }

  @each $party, $color in $party-colors {
    &.rep-party-#{$party} {
      .rep-image {
        box-shadow: 0 0 0 $ring-thickness $color;
      }
    }
  }
}

