@import "src/theme/theme-variables";

$state-color: $color-black;

.state-path {
  fill: $state-color;
  opacity: 0.5;
  cursor: pointer;
  outline: none;

  &.selected {
    opacity: 1;
  }

  &:hover {
    fill: lighten($state-color, 20%);
  }
}

.state-borders {
  fill: none;
  stroke: white;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

