<button (click)="selectForLocation()">Use my location</button>

<svg [attr.width]="width" [attr.height]="height">
  <g class="states">
    <svg:path
      *ngFor="let state of stateFeatures"
      class="state-path"
      [ngClass]="{ 'selected': isSelected(state) }"
      [attr.d]="state.pathData"
      [matTooltip]="state.name"
      (click)="selectState(state)"
    ></svg:path>
  </g>
  <svg:path class="state-borders" [attr.d]="stateBordersPathData"></svg:path>
</svg>

<mat-card class="state-info-card">
  <mat-card-content>
    <h3>{{ selectedStateName || 'No State Selected' }}</h3>
    <div *ngIf="selectedState">
      <div>
        <h4>Senators</h4>
        <div *ngIf="!allSenators" class="inline-waiting-message">
          <mat-spinner [diameter]="20"></mat-spinner>
          <p>still awaiting the list of senators</p>
        </div>
        <ul>
          <li *ngFor="let senator of senatorsOfState">
            <span
              [matTooltip]="senator.isVacant ? 'This office is presently vacant' : null"
              matTooltipPosition="right"
            >
              <a href="{{ senator.websiteUrl }}"
                 target="_blank"
              >{{ senator.fullName }}</a>
            </span>
            ({{ senator.party }})
            <span *ngIf="senator.leadershipPosition"
              class="senator-leadership-position"
            >
              &mdash;
              {{ senator.leadershipPosition }}
            </span>
          </li>
        </ul>
      </div>
      <div>
        <h4>Representatives</h4>
        <div *ngIf="!allRepresentatives" class="inline-waiting-message">
          <mat-spinner [diameter]="20"></mat-spinner>
          <p>still awaiting the list of representatives</p>
        </div>
        <ul>
          <li *ngFor="let representative of representativesOfState"
              class="representative-list-item"
              [ngClass]="{ 'vacant': representative.isVacant }"
          >
            <span
              [matTooltip]="representative.isVacant ? 'This office is presently vacant' : null"
              matTooltipPosition="right"
            >
              {{ representative.district }}: 
              <a href="{{ representative.websiteUrl }}"
                 target="_blank"
              >{{ representative.fullName }}</a>
              ({{ representative.party }})
              <span *ngIf="hasCommittees(representative)">
                &mdash;
                <span *ngFor="let committee of representative.committees; last as isLast">
                  <a href="{{ committee.websiteUrl }}" 
                     target="_blank"
                  >{{ committee.name }}</a><span *ngIf="!isLast">, </span>
                </span>
              </span>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </mat-card-content>
</mat-card>