svg(
  [attr.width]='width',
  [attr.height]='height',
)
  g.nation([attr.transform]='nationTransform')
    g.states
      svg:path.state-path(
        *ngFor='let state of stateFeatures',
        [ngClass]="{ 'selected': isSelected(state) }",
        [attr.d]='state.pathData',
        [matTooltip]='state.name',
        (click)='selectState(state)',
      )
    svg:path.state-borders([attr.d]='stateBordersPathData')
div(*ngIf='selectedState')
  app-state-detail(
    [state]='selectedState',
    (close)='closeState()',
  )
