<div *ngIf="rep">

  <section class="rep-head">
    <div>
      <img class="rep-image" src="{{ rep.imageUrl }}" />
    </div>
    <div class="rep-title">
      <h2 [ngClass]="rep.partyStyleClass">{{ rep.party }}</h2>
      <h2>{{ rep.titleName }}</h2>
    </div>
  </section>

  <div class="rep-meta-details">
    
    <div *ngIf="rep.district !== null" class="district">
      <h4>District</h4>
      <h3>{{ rep.district | district }}</h3>
    </div>
    
    <div class="office">
      <h4>Office</h4>
      <h3>
        {{ rep.office }}
      </h3>
    </div>
    
    <div *ngIf="rep.phone as phone" class="phone">
      <h4>Phone</h4>
      <h3 class="phone-number">{{ phone }}</h3>
    </div>

  </div>

  <div>
    <h4>Committee Assignments</h4>
    <ul class="rep-committee-list">
      <li
        *ngFor="let committee of rep.committees"
        [ngClass]="{ expanded: isExpanded(committee) }"
      >
        <span *ngIf="hasSubs(committee)">
          <mat-icon
            class="committee-expander"
            (click)="expand(committee)"
            [matTooltip]="isExpanded(committee) ? 'Hide Subcommittees' : 'Show Subcommittees'"
          >expand_more</mat-icon>
        </span>
        <span *ngIf="committee.url; else nameNoLink">
          <a target="_blank" href="{{ committee.url }}">{{ committee.name }}</a>
        </span>
        <ng-template #nameNoLink>{{ committee.name }}</ng-template>
        <ul class="rep-subcommittee-list">
          <li *ngFor="let subcommittee of rep.subcommittees[committee.thomasId]">
            {{ subcommittee.displayName }}
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div *ngIf="rep.phone as phone"> 
    <div>
      <a mat-button 
        class="button"
        [ngClass]="'button-party-' + rep.party.toLowerCase()"
        href="tel:{{ phone | numbersOnly }}"
      >
        Call {{ rep.titleName }}
      </a>
    </div>
  </div>
  <div class="rep-social-media" *ngIf="rep.socialMedia">
    <h4>On Social Media</h4>
    <span *ngFor="let medium of socialMedia">
      <a *ngIf="rep[medium.urlGetter] as url" target="_blank" href="{{ url }}" class="socicon-{{ medium.icon }}">
      </a>
    </span>
  </div>
</div>