<div *ngIf="rep">
  <h3 [ngClass]="rep.partyStyleClass">{{ rep.party }}</h3>
  <h3>{{ rep.titleName }}</h3>
  <h4 *ngIf="rep.district !== null">{{ rep.district | district }}</h4>
  <div>
    <img src="{{ rep.imageUrl }}" />
  </div>
  <div>
    <h4>Office</h4>
    <div>
      {{ rep.office }}
    </div>
  </div>
  <div>
    <h4>Committee Assignments</h4>
    <ul class="rep-committee-list">
      <li *ngFor="let committee of rep.committees">
        <span *ngIf="committee.url; else nameNoLink">
          <a href="{{ committee.url }}">{{ committee.name }}</a>
        </span>
        <ng-template #nameNoLink>{{ committee.name }}</ng-template>
        <ul class="rep-subcommittee-list">
          <li *ngFor="let subcommittee of rep.subcommittees[committee.thomasId]">
            {{ subcommittee.displayName }}
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <h4>Contact Info</h4>
  <div *ngIf="rep.phone as phone">
    <div>{{ phone }}</div>
    <div>
      <a mat-button href="tel:{{ phone | numbersOnly }}">
        Call {{ rep.titleName }}
      </a>
    </div>
  </div>
  <div class="rep-social-media" *ngIf="rep.socialMedia">
    <span *ngFor="let medium of socialMedia">
      <a *ngIf="rep[medium.urlGetter] as url" href="{{ url }}">
        {{ medium.icon }}
      </a>
    </span>
  </div>
</div>