@import "src/theme/globals";

@each $party, $color in $political-party-colors {
  .party-#{$party} {
    color: $color;
  }
  .button-party-#{$party} {
    background: $color;
  }
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  > *:not(:last-child) {
    margin-right: 1.25em;
    width: 7rem;
  }
  .image {
    // height: 144px;
    width: 100%;
  }
  .title {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.contact-buttons {
  display: flex;
  margin-top: 1rem;  
  .social-media {
    flex: 1;
    margin-left: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, 52px);
    a {
      font-size: 1.25rem;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.meta-details {
  display: flex;
  border-top: 1px solid $color-borders;
  .detail-block {
    padding: 1rem 0 0;
    border-right: 1px solid $color-borders;
    margin-right: 2rem;
    padding-right: 2rem;
    &:last-child {
      margin: 0;
      border: none;
      padding-right: 0;
    }    
  }
}

.committees {
  ul.committee-list {
    list-style: none;
    padding-left: 0;
    .committee-expander {
      position: absolute;
      margin-left: 0.5rem;
      margin-top: -0.2rem;
      vertical-align: bottom;
      cursor: pointer;
      transition: transform 0.2s;
    }
    .subcommittee-list {
      display: none;
    }
    .expanded {
      .committee-expander {
        transform: rotate(180deg);
      }
      .subcommittee-list {
        display: block;
      }
    }
    li {
      margin: 0.5rem 0;
      ul {
        margin: 0;
        padding: 0.5rem 0 0.5rem 1rem;
        li {
          list-style: outside;
        }
      }
    }
  }
}

section {
  &.meta-details,
  &.external-links,
  &.committees {    
    margin-top: 2rem;
  }
}


.other-websites {
  flex: 1;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 10rem));
}
