<div *ngIf="rep">
  <h2 [ngClass]="rep.partyStyleClass">{{ rep.party }}</h2>
  <h2>{{ rep.titleName }}</h2>
  
  <div class="rep-meta-details">
    <div *ngIf="rep.district !== null" class="district">
      <h4>District</h4>
      <div>{{ rep.district | district }}</div>
    </div>
    
    <div class="office">
      <h4>Office</h4>
      <div>
        {{ rep.office }}
      </div>
    </div>
  </div>
  
  <div>
    <img src="{{ rep.imageUrl }}" />
  </div>
  <div>
    <h4>Committee Assignments</h4>
    <ul class="rep-committee-list">
      <li *ngFor="let committee of rep.committees">
        <span *ngIf="committee.url; else nameNoLink">
          <a href="{{ committee.url }}">{{ committee.name }}</a>
        </span>
        <ng-template #nameNoLink>{{ committee.name }}</ng-template>
        <ul class="rep-subcommittee-list">
          <li *ngFor="let subcommittee of rep.subcommittees[committee.thomasId]">
            {{ subcommittee.displayName }}
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div *ngIf="rep.phone as phone"> 
    <span>
      <div>
        <a mat-button class="button" href="tel:{{ phone | numbersOnly }}">
          Call {{ rep.titleName }}
        </a>
      </div>
    </span>
    <span>
      <h2>{{ phone }}</h2>
    </span>
  </div>
  <div class="rep-social-media" *ngIf="rep.socialMedia">
    <span *ngFor="let medium of socialMedia">
      <a *ngIf="rep[medium.urlGetter] as url" href="{{ url }}">
        {{ medium.icon }}
      </a>
    </span>
  </div>
</div>