@import "src/theme/theme-variables";

@each $party, $color in $political-party-colors {
  .rep-party-#{$party} {
    color: $color;
  }
  .button {
    background: $color;
  }
}

.rep-meta-details {
  display: flex;
  border-top: 1px solid $color-borders;
  margin: 1rem 0;
  .district,
  .office {
    padding: 1rem 0;
  }
  .district {
    border-right: 1px solid $color-borders;
    margin-right: 2rem;
    padding-right: 2rem;
  }
}

