svg(
  [attr.width]='width',
  [attr.height]='height',
)
  svg:g.nation([attr.transform]='nationTransform')
    svg:g.states([ngClass]="{ 'uniform-color': !options.isPartyColoringOn }")
      svg:g.state-group(
        *ngFor='let state of stateFeatures',
      )
        svg:path.state-path(
          [attr.d]='state.pathData',
          [matTooltip]='state.tooltipText',
          (click)='selectState(state)',
          [attr.fill]='state.fillColor',
        )
    svg:path.state-borders([attr.d]='stateBordersPathData')