svg(
  [attr.width]='width',
  [attr.height]='height',
)
  svg:g.nation([attr.transform]='nationTransform')
    svg:g.states([ngClass]="{ 'uniform-color': !options.isPartyColoringOn }")
      svg:path.state-path(
        *ngFor='let state of stateFeatures',
        [attr.d]='state.pathData',
        [attr.fill]='fillColor(state)',
        [routerLink]='state.urlSegment',
        routerLinkActive='selected',
      )
        //- [matTooltip]='state.tooltipText',
    svg:path.state-borders([attr.d]='stateBordersPathData')