div
  svg(
    [attr.width]='width',
    [attr.height]='height',
  )
    g.nation([attr.transform]='nationTransform')
      g.states([ngClass]="{ 'uniform-color': !isPartyColoringOn }")
        svg:path.state-path(
          *ngFor='let state of stateFeatures',
          [ngClass]="{ 'selected': isSelected(state) }",
          [attr.d]='state.pathData',
          [matTooltip]='state.name',
          (click)='selectState(state)',
          [attr.fill]='state.fillColor',
        )
      svg:path.state-borders([attr.d]='stateBordersPathData')

  mat-slide-toggle(
    [checked]="isPartyColoringOn",
    (change)="isPartyColoringOn = !isPartyColoringOn"
  ) Color states by party

  div(*ngIf="isPartyColoringOn")
    mat-button-toggle-group((change)="coloringMode = $event.value")
      mat-button-toggle(
        *ngFor="let mode of AllColoringModes",
        value="{{ mode }}",
        [checked]="mode === coloringMode"
      ) {{ mode }}
    div(*ngIf="coloringMode === 'Proportional'")
      mat-button-toggle-group((change)="chromaMixMode = $event.value")
        mat-button-toggle(
          *ngFor="let mode of allChromaMixModes",
          value="{{ mode }}",
          [checked]="mode == chromaMixMode"
        ) {{ mode }}