.state-info-content

  .state-reps-section
    .state-title
      a.svg-icon-button.back-button(routerLink='/')
        mat-icon(svgIcon='back-to-map')
      h4 {{ stateTitle }}
    .state-map.spacer-bottom
      app-state-map(
        [state]='state',
        [houseReps]='houseReps',
      )
    .rep-list(
      [ngClass]='{ "rep-selected": isRepSelected }',
    )
      .spacer-bottom(*ngFor='let repSet of repSets')
        h4 {{ repSet.title }}
        .rep-grid
          .rep-grid-tile(
            *ngFor='let rep of repSet.reps',
            [ngClass]='rep.partyStyleClass',
          )
            a.rep-link(
              [routerLink]='rep.urlSegment',
              routerLinkActive='selected',
            )
              .rep-image(
                [ngStyle]='repImageStyle(rep)',
                [matTooltip]='rep.fullName',
              )

  .rep-info-section
    //- Outlet for Rep Detail view
    router-outlet

    .rep-nav(*ngIf='isRepSelected')
      button.svg-icon-button(
        (click)='priorRep()',
        [disabled]='isOnFirstRep',
      )
        mat-icon(svgIcon='arrow-left')
      button.svg-icon-button(
        (click)='nextRep()',
        [disabled]='isOnLastRep',
      )
        mat-icon(svgIcon='arrow-right')
