@import "src/theme/globals";

:host {
  position: fixed;
  z-index: 1;
  overflow-y: scroll;
  top: $navbar-height;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  background: rgba($color-background, 0.9);
  justify-content: space-around;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.state-title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  .back-button {
    margin-right: 1rem;
    position: absolute;
    z-index: 1;
  }
  h4 {
    position: relative;
    top: -3px;
    flex: 1;
    font-size: 1.5rem;
    margin-left: 5rem;
    margin-bottom: 1.5rem;
  }
}

.state-map {
  position: relative;
  &::after,
  &::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid $color-black;
    z-index: -1;
  }
  &::after {
    top: -5px;
    left: -5px;
    border: 1px solid $color-rep;
  }
  &::before {
    top: 5px;
    left: 5px;
    border: 1px solid $color-dem;
  }
}

.state-info-content {
  display: flex;
  flex-direction: row;
  text-align: left;
  max-width: 1200px;
  margin: 0 auto;
  .state-reps-section {
    flex: 1;
    padding-right: 4rem;
  }
  .rep-info-section {
    flex: 1.5;
  }
}

@media (max-width: 767px) {
  .state-info-content {
    display: block;
  }
}


$size: 48px;
$ring-thickness: 2px;
$tile-size: $size + 2 * $ring-thickness;

.rep-grid {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fit, $tile-size);
}

.rep-grid-tile {
  margin: $ring-thickness;

  .rep-image {
    width: $size;
    height: $size;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 0 $ring-thickness grey;
    background-size: cover;
    background-color: lightgrey;
    cursor: pointer;
  }

  @each $party, $color in $political-party-colors {
    &.party-#{$party} .rep-image {
      box-shadow: 0 0 0 $ring-thickness $color;
    }
  }
}

.rep-link {
  display: block;
  transition: opacity 0.2s;
  opacity: 1;
  .rep-selected &:not(.selected) {
    opacity: 0.5;
  }
}

.rep-nav {
  display: none;

  @media (min-width: 1380px) {
    display: flex;
  }

  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -25px;
  width: 100%;
  justify-content: space-between;
  button {
    height: 50px;
    padding: 0 1rem;
    border: 1px solid $color-grey-light;
    transition: border-color 0.15s;
    &:first-child {
      margin-left: 10px;
    }
    &:last-child {
      margin-right: 10px;
    }
    &:hover:not([disabled]) {
      border-color: $color-black;
    }
  }
}
