@import "src/theme/theme-variables";

:host {
  position: fixed;
  z-index: 1;
  overflow-y: scroll;
  top: $navbar-height;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  background: rgba($color-background, 0.9);
  justify-content: space-around;
}

.state-info-content {
  display: flex;
  flex-direction: row;
  text-align: left;

  // Bad hack for now. Need to clean this up.

  .state-reps-section {
    flex: 1;
    padding-right: 4rem;
  }

  .rep-info-section {
    flex: 1.5;
  }
}


$size: 48px;
$ring-thickness: 2px;
$tile-size: $size + 2 * $ring-thickness;

.rep-grid {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(auto-fit, $tile-size);
}

.rep-grid-tile {
  margin: $ring-thickness;

  .rep-image {
    width: $size;
    height: $size;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 0 $ring-thickness grey;
    background-size: cover;
    background-color: lightgrey;
    cursor: pointer;
  }

  @each $party, $color in $political-party-colors {
    &.rep-party-#{$party} .rep-image {
      box-shadow: 0 0 0 $ring-thickness $color;
    }
  }
}
