<div class="state-info-content">
  <div class="state-reps-section">
    <button (click)="goBack()">back</button>
    <h4>{{ stateTitle }}</h4>
    <div class="state-map spacer-bottom">
      <app-state-map [state]="state"></app-state-map>
    </div>
    <div *ngIf="isCongressLoading; else repList" class="inline-waiting-message">
      <mat-spinner [diameter]="20"></mat-spinner>
      <p>still downloading your reps</p>
    </div>
    <ng-template #repList>
      <div
        class="rep-list"
        [ngClass]="{ 'rep-selected': selectedRep !== null }"
      >
        <div class="spacer-bottom" *ngFor="let repSet of repSets">
          <h4>{{ repSet.title }}</h4>
          <div class="rep-grid">
            <div
              *ngFor="let rep of repSet.reps"
              class="rep-grid-tile"
              [ngClass]="repTileClass(rep)"
            >
              <div class="rep-image"
                [ngStyle]="repImageStyle(rep)"
                (click)="selectRep(rep)"
                [matTooltip]="rep.fullName"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="rep-info-section">
    <app-rep-detail [rep]="selectedRep"></app-rep-detail>
  </div>
</div>
