@import "src/theme/theme-variables";

:host {
  display: flex;
  flex: 1;
}

.menu-button {
  margin-right: 1rem;
}

.navbar {
  height: 96px;
  background: $color-background;
  border-bottom: 1px solid $color-borders;
  box-shadow: none;
  display: flex;
  justify-content: space-around;

  .navbar-link {
    font-family: National, sans-serif;
    font-weight: normal;
  }
}

.share-thing {
  transition: transform 0.4s;
  transform-style: preserve-3d;
  perspective: 800px;

  > div {
    background: $color-background;
    backface-visibility: hidden;
  }

  a {
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  .share-options {
    position: absolute;
    top: 0;
    transform: rotate3d(1, 0, 0, 180deg);
  }

  &.open {
    transform: rotate3d(1, 0, 0, 180deg);
  }

  .share-close {
    opacity: 0.5;
  }
}
