header.navbar 
  .container
    a.navbar-link(routerLink='/about') More

    h1: a(routerLink='/') Map My Reps

    .share-thing([ngClass]='{ open: isShareMenuOpen }')
      .share
        button.navbar-link((click)='openShareMenu()') Share
      .share-options
        span(*ngFor='let medium of shareMedia')
          a.share-link(
            [ngClass]='"socicon-" + medium',
            (click)='closeShareMenu()',
            [href]='shareUrl(medium)',
            target='_blank',
          )
        button.close((click)='closeShareMenu()')
          mat-icon close

router-outlet
