@import "src/theme/theme-variables";

:host {
  display: flex;
  flex: 1;
}

.menu-button {
  margin-right: 1rem;
}

.navbar {
  height: 96px;
  background: $color-background;
  border-bottom: 1px solid $color-borders;
  box-shadow: none;
  display: flex;
  justify-content: space-around;

  .navbar-link {
    font-family: National, sans-serif;
    font-weight: normal;
  }
}
