@import "src/theme/theme-variables";

:host {
  display: flex;
  flex: 1;
}

.mat-sidenav {
  min-width: 270px;
  max-width: 28%;
}

.has-border {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-list {
  padding-top: 0;
}

.mat-list-item {
  text-decoration: none;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

.menu-button {
  margin-right: 1rem;
}

// Navbar
.navbar {
  height: 96px;
  background: $color-background;
  border-bottom: 1px solid $color-borders;
  box-shadow: none;
  display: flex;
  justify-content: space-around;
  .navbar-link {
    font-family: National;
    font-weight: normal;
  }
}
