/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~material-design-icons/iconfont/material-icons.css";

// Angular Material custom theme
// The mixins below must be included once so we separated them from the variables
@import "~@angular/material/theming";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

// Theme customization
@import "theme/theme";


.inline-waiting-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  opacity: 0.5;

  .mat-spinner {
    $space: 1em;

    &:first-child {
      margin-right: $space;
    }

    &:last-child {
      margin-left: $space;
    }
  }
}


.svg-icon-button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;

  svg {
    fill: $color-grey-light;
    transition: all 0.15s ease;
  }

  &:hover:not([disabled]) {
    svg {
      fill: $color-black;
    }
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  mat-icon {
    &[svgIcon="back-to-map"] {
      width: 52px;
    }

    &[svgIcon*="arrow-"] {
      height: 16px;
    }
  }
}
