@import "src/theme/globals";

:host {
  flex: 1;

  // Vertically centers the national map
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mini-state-selector {
  align-self: center;
  max-width: 16rem;
}

@media (max-width: 767px) {
  app-nation-map {
    display: none;
  }
}

@media (min-width: 768px) {
  .mini-state-selector {
    display: none;
  }
}

.blur {
  filter: blur(3px);
}
