//- TODO: create a separate component for the mini state selector
.mini-state-selector
  div(
    *ngFor='let state of states',
    (click)='selectState(state)',
  ) {{ state.name }}


app-nation-map(
  (onSelectState)='selectState($event)',
)

//- state detail gets instered here
router-outlet
  