//- TODO: create a separate component for the mini state selector
.mini-state-selector
  a(
    *ngFor='let state of states',
    mat-button
    [routerLink]='state.urlSegment',
    routerLinkActive='selected',
  ) {{ state.name }}

app-nation-map

//- state detail gets instered here
router-outlet
  