//- TODO: create a separate component for the mini state selector
.mini-state-selector
  .override-option
    p The map view works best on larger screens, like tablets and laptops.
    button(
      mat-button,
      (click)='useMapView()'
    ) Use the map view anyway

  app-state-list

app-nation-map

//- state detail gets instered here
router-outlet
  